doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Quick-Cal
  body
    h1 Generate a calendar
    form(action="/g")#form
      label Start date
        input(type="date", name="s", value="2019-10-28")
      label End date
        input(type="date", name="e", value="2019-11-10")
      label Week start
        select(name="ws")
          option(value="1", selected) Monday
          option(value="2") Tuesday
          option(value="3") Wednesday
          option(value="4") Thusday
          option(value="5") Friday
          option(value="6") Saturday
          option(value="0") Sunday
      input(type="submit",value="Generate")

  script.
    const form = document.getElementById('form');
    const url = new URL(window.location);
    dest = url.pathname.split('/');
    dest.pop();
    form.action = [...dest, 'g'].join('/');